* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.adalaber {
  color: #3cdbc0;
  font-family: "Cormorant Garamond", serif;
}

.btn{
  font-family: "Cormorant Garamond", serif;
  font-weight: 900;
  padding: 5px;
  color: black;
  background-color: #3cdbc0;
  cursor: pointer;
}
.opacity{
  opacity: 0.5;
}